* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 18px;
}

.mainbackground {

    display: flex;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);


}

.maintext {
    padding-left: 240px;
    padding-right: 97px;
}

.headingtext {
    color: #272727;
    font-size: 80px;
    margin-top: 197px;
    margin-bottom: 0px;

}

.paragraph {
    color: #272727;
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 32px;


}

.button-primary {

    background: #E55473;
    border-style: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;

}

.mainimage {
    /* height: 600px; */
}

.featuredsection {
    text-align: center;
    margin-top: 178px;
    /* margin-bottom: 200px; */
}


.featureheading {
    font-size: 40px;
}

.pictureslot {

    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 150px;


}

.featureimage1 {

    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    margin: 10px;
    width: 190px;
    height: 300px;
    padding: 10px 10px 0px 10px;



}

.featureimg2 {

    background: rgba(5, 151, 160, 0.15);
    margin: 10px;
    border-radius: 300px 300px 0px 0px;
    width: 190px;
    height: 300px;
    padding: 10px 10px 0px 10px;




}

.featureimg3 {

    background: rgba(71, 125, 17, 0.15);
    margin: 10px;
    border-radius: 300px 300px 0px 0px;
    width: 190px;
    height: 300px;
    padding: 10px 10px 0px 10px;

}

.featureimgcaption {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.services {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    max-width: 1440px;
    min-height: 320px;
    text-align: center;
    margin: auto;
}

.servicesicon {

    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 200px;
}

.servicestext {
    display: flex;
    color: #272727;
}

.serviceimg1 {

    margin-right: 100px;
}

.serviceimg2 {

    margin-right: 100px;
}

.serviceimg3 {

    margin-right: 100px;
}

/* hotdealsection */

.hotdeals {

    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    gap: 180px;
    padding: auto;
    margin-top: 130px;
    margin-bottom: 130px;
}

.dealstext {
    padding-left: 400px;
    padding-right: 190px;
    padding-bottom: 180px;
    justify-content: center;
    margin-right: 185px;
}

.dealtitle {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 230px;
    text-align: center;
}

.pinktext {
    color: #E55473;
}

.dealdescription {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 25px;
}

#signupbutton {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    margin-left: 300px;
    justify-content: center;
    padding: 20px 43px;
    border-style: none;


}

.dealsimage {

    width: 318px;
    height: 420px;
    flex-shrink: 0;
    margin: 100px 400px 100px 185px;
}

.sectionheading {

    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.sectiondescription {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.instaimage {
    display: flex;
    justify-content: center;
    gap: 25px;

}

.instagramimages1 {
    width: 342px;
    height: 396px;
    flex-shrink: 0;
}

.instagramimages1 {
    width: 342px;
    height: 396px;
    flex-shrink: 0;
}

.instagramimages2 {
    width: 342px;
    height: 396px;
    flex-shrink: 0;
}

.instagramimages3 {
    width: 342px;
    height: 396px;
    flex-shrink: 0;
}

.instagramimages4 {
    width: 342px;
    height: 396px;
    flex-shrink: 0;
}

.emailsubscribe {

    background-image: url("flower Asset/Rectangle 9.png");
    margin-right: auto;
    margin-left: auto;
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    margin-top: 150px;
}

.latestdeal {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 120px;
    padding-bottom: 16px;
}

.latestdealdescription {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 40px;


}

.emailsubscribe textarea {

    width: 700px;
    height: 64px;
    margin-top: 48px;
    margin-left: 280px;

}

.Subscribefield {
    padding-bottom: 120px;
    align-items: center;
    display: inline;

}

.endsection {

    background: #111010;
    width: 1922px;
    height: 449px;
    flex-shrink: 0;
}

.shoptitle {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding-top: 128px;
}

.lastdescription {


    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}